<?xml version="1.0"?>

<launch>
    <!-- Set environment as simulation with smaller collision bubble -->
    <arg name="mode" value="sim" />
    <arg name="ns_prefix" value="uav" />
    <arg name="recordData" default="true" />
    <arg name="collisionBubble" value="1.0" />
    <arg name="use_gps" default="false" />
    <arg name="sensingDropout" default="true" />
    
    <!-- Start Gazebo with wg world running in (max) realtime -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Spawn simulated quadrotor UAVs -->
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)0" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="10.0" />
        <arg name="simY" value="-10.0" />
    </include>
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)1" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="3.0" />
        <arg name="simY" value="-10.0" />
    </include>
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)2" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="-8.0" />
        <arg name="simY" value="-9.0" />
    </include>
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)3" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="8.0" />
        <arg name="simY" value="9.0" />
    </include>
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)4" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="-10.0" />
        <arg name="simY" value="4.0" />
    </include>
    <include file="$(find formation_control)/launch/agentControlSim.launch">
        <arg name="uavName" value="$(arg ns_prefix)5" />
        <arg name="mode" value="$(arg mode)" />
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="simX" value="-7.0" />
        <arg name="simY" value="-5.0" />
    </include>
    
    <!-- Spawn ground station -->
    <node name="groundStation" pkg="formation_control" type="groundStation.py" output="screen">
        <param name="mode" value="$(arg mode)" />
        <param name="sensingDropout" value="$(arg sensingDropout)" />
        <param name="use_gps" value="$(arg use_gps)" />
        <param name="collisionBubble" value="$(arg collisionBubble)" />
        <param name="ns_prefix" value="$(arg ns_prefix)" />
        <param name="formation" value="$(find formation_control)/config/sim_formation.csv" />
        <param name="obstacles" value="$(find formation_control)/config/sim_obstacles.csv" />
    </node>
    
    <!-- Record Data -->
    <node if="$(arg recordData)" name="record" pkg="rosbag" type="record" args="-O /home/anup/formationControlSim.bag tf clock sensingGraph uav0/cmd_vel uav1/cmd_vel uav2/cmd_vel uav3/cmd_vel uav4/cmd_vel uav5/cmd_vel" />
    
</launch>
